on: [push, pull_request]
name: Audit
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.18.x, 1.19.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    services:
      postgres:
        image: postgres:14.5
        env:
          POSTGRES_USER: tpeng
          POSTGRES_PASSWORD: 12345678
          POSTGRES_DB: tpeng
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
    - uses: actions/checkout@v3
    - name: Run migrations
      run: make migrateup
    - run: go test ./...

